// STUDITEMPS Colours
$st-blue: #2e6888;
$st-blue-light: #45bcda;
$st-gray: #545154; // used as text colour

// Grays
$gray-light: #f6f6f6;
$gray: #E0E0E0;
$gray-dark: #9E9E9E;

// Colours
$red: #ed677a;
$red-code: #d44950;
$green: #86c06a;
$purple: #8d5ba1;
$orange: #f28d4f;
$yellow: #fccb8d;
