---
layout: default
---


<div class="heading" id="toc">
  <h2>Inhaltsverzeichnis</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Syntax</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-encoding">Zeichenkodierung</a></li>
      <li><a href="#html-style-script">CSS und JavaScript includes</a></li>
      <li><a href="#html-attribute-order">Attributreihenfolge</a></li>
      <li><a href="#html-boolean-attributes">Boolesche Attribute</a></li>
      <li><a href="#html-reducing-markup">Reduzierung des Markup</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">CSS syntax</a></li>
      <li><a href="#css-declaration-order">Reihenfolge der Deklarationen</a></li>
      <li><a href="#css-import">Vermeide @import</a></li>
      <li><a href="#css-media-queries">Platzierung von Medienabfragen</a></li>
      <li><a href="#css-prefixed-properties">Vorbestimmte Eigenschaften</a></li>
      <li><a href="#css-single-declarations">Einfache Deklarationen</a></li>
      <li><a href="#css-shorthand">Kurznotation</a></li>
      <li><a href="#css-nesting">Verschachtelung in Less und Sass</a></li>
      <li><a href="#css-comments">Kommentare</a></li>
      <li><a href="#css-classes">Klassen</a></li>
      <li><a href="#css-selectors">Selektoren</a></li>
      <li><a href="#css-organization">Aufbau</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Goldene Regel</h2>
    <p>Halte dich immer an diese definierten Regeln. Erstelle für etwaige Ergänzungen ein Issue im <a href="https://github.com/STUDITEMPS/code-guide" title="STUDITEMPS Code Guide Repository">Github Repository</a>. Erstellte Issues werden im nächsten Fach-Chapter besprochen.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Jede Zeile Code sollte so aussehen, als wenn sie von einer Person geschrieben wurde, egal, wieviele wirklich daran gearbeitet haben.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Benutze Soft-Tabs mit 2 Leerzeichen – es ist die einzige Möglichkeit zu garantieren, dass der Code in allen Umgebungen gleich gerendert wird.</li>
      <li>Verschachtelte Elemente sollten einfach eingerückt werden (mit 2 Leerzeichen).</li>
      <li>Verwende einfache Anführungszeichen für Attribute, keine Apostrophe.</li>
      <li>Benutze keine abschließenden Schrägstriche in selbstschließenden Elementen – die <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">HTML5 Spezifikationen</a> besagen, dass sie optional sind.</li>
      <li>Lasse keine schließenden Tags weg (z.B. <code>&lt;/li&gt;</code> oder <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>HTML5 Doctype</h3>
    <p>Setze für ein konsistentes Rendering in allen Browsern auf jeder HTML-Seite den HTML5 Doctype.</p>
    <p>TO DO TO DO TO DOBemühe dich, die HTML Standards und Semantik beizubehalten, aber nicht zum Preis von Praktikabilität. Benutze so wenig Markup mit den wenigsten Komplexitäten, wie möglich.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Zeichenkodierung</h3>
    <p>Das richtige Rendering des Inhalts kann schnell und einfach mit einer expliziten Zeichenkodierung festgelegt werden. Wenn die Zeichenkoderung auf diese Art gesetzt wurde, kann auf die einzelne Deklaration in HTML Elementen verzeichtet werden, sofern sie mit der des Dokumentes übereinstimmen (normalerweise UTF-8).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>CSS und JavaScript includes</h3>
    <p>Nach den HTML5 Spezifikationen ist es nicht notwendig, einen <code>type</code> anzugeben, da CSS und JavaScript Dateien per Voreinstellung als <code>text/css</code> und <code>text/javascript</code> erwartet werden.</p>
    <h4>HTML5 Spezifikation links</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Benutzung von link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Benutzung von style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Benutzung von script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Attributreihenfolge</h3>
    <p>HTML Attribute sollten in der folgenden Ordnung erscheinen, um die Lesbarkeit zu erleichtern.</p>
    <ul>
      <li><code>id</code>, <code>name</code></li>
      <li><code>class</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Boolesche Attribute</h3>
    <p>Ein boolesches Attribut braucht keinen Wert.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Reduzierung des Markups</h3>
    <p>Vermeide überflüssige Elemente beim Schreiben von HTML.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<!-- <div class="section" id="html-javascript">
  <div class="col">
    <h3>JavaScript generiertes Markup</h3>
    <p>Das Schreiben von Markup in JavaScript macht den Inhalt schwerer zu finden, schwerer zu editieren und weniger performant. Vermeide dies, wo möglich.</p>
  </div>
</div> -->



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Benutze Soft-Tabs mit 2 Leerzeichen – es ist die einzige Möglichkeit zu garantieren, dass der Code in allen Umgebungen gleich gerendert wird.</li>
      <li>Lasse beim gruppieren von Selektoren jedem Selektor seine eigene Zeile.</li>
      <li>In Fällen, in denen ein Regelsatz nur eine einzige Deklaration enthält, kann dieser in einer Zeile mit dem Selektor stehen.</li>
      <li>Für bessere Lesbarkeit, füge ein Leerzeichen vor jeder öffnenden Klammer eines Deklarationsblocks hinzu.</li>
      <li>Platziere schließende Klammern in einer neuen Zeile.</li>
      <li>Füge ein Leerzeichen hinter jedem <code>:</code> für jede Deklaration hinzu.</li>
      <li>Für ein genaueres Fehlerreporting sollte jede Deklaration in einer eigenen Zeile stehen.</li>
      <li>Beende jede Deklaration mit einem Semikolon. Für die letzte Deklaration ist dies optional.</li>
      <li>Kommagetrennte Eigenschaftswerte sollten ein Leerzeichen nach jedem Komma enthalten (z.B.<code>box-shadow</code>).</li>
      <li>Füge Eigenschaftswerten oder Farbwerten keine führenden Nullen hinzu (z.B., <code>.5</code> anstatt <code>0.5</code> und <code>-.5px</code> anstatt <code>-0.5px</code>).</li>
      <li>Schreibe Hexwerte klein, z.B. <code>#fff</code>. Kleingeschriebene Buchstaben sind beim Lesen eines Dokumentes einfacher zu unterscheiden, da sie mehr einzigartige Formen aufweisen.</li>
      <li>Verwende kurze Hexwerte, wenn möglich. Z.B. <code>#fff</code> anstatt <code>#ffffff</code>.</li>
      <li>Setze Attributwerte in Anführungszeichen, z.B. <code>input[type='text']</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">Sie sind nur in einigen Fällen optional</a> und es ist eine Gewöhnung an Konsistenz.</li>
      <li>Vermeide das Setzen von Einheiten für Nullwerte, z.B. <code>margin: 0;</code> anstatt <code>margin: 0px;</code>.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Reihenfolge der Deklarationen</h3>
    <p>Deklarationen sollten in der folgenden Reihenfolge gruppiert werden:</p>
    <ol>
      <li>Positionierung</li>
      <li>Box Modell</li>
      <li>Typographie</li>
      <li>Aussehen</li>
    </ol>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>Vermeide <code>@import</code></h3>
    <p>Verglichen mit <code>&lt;link&gt;</code>s ist <code>@import</code> <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">langsamer</a>, führt zu mehr Seitenanforderungen und kann andere unvorhergesehene Probleme verursachen. Vermeide es und benutze stattdessen andere Ansätze:</p>
    <ul>
      <li>Benutze mehrere <code>&lt;link&gt;</code> Elemente</li>
      <li>Kompiliere das CSS mit einem Präprozessor wie Sass oder Less in eine einzige Datei</li>
      <li>Verbinde die CSS Dateien mit Tools, die von Rails, Jekyll oder anderen Umgebungen bereitgestellt werden</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Platzierung von Medienabfragen</h3>
    <p>Medienabfragen sind am Ende des Dokuments zu platzieren.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Kurznotation</h3>
    <p>Bemühe dich, Kurznotationen zu benutzen</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<!-- <div class="section" id="css-nesting">
  <div class="col">
    <h3>Verschachtelung in Less und Sass</h3>
    <p>Vermeide unnötige Verschachtelungen. Nur weil verschachtelt werden kann, heißt das nicht, dass man es immer sollte. Berücksichtige Verschachtelung nur, wenn Styles im Elternelement gültig sein müssen und wenn mehrere Elemente zu verschachteln sind.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div> -->

<!-- <div class="section" id="css-comments">
  <div class="col">
    <h3>Kommentare</h3>
    <p>Der Code wird von Menschen geschrieben und gepflegt. Stelle sicher, dass dein Code anschaulich, gut kommentiert und für andere zugänglich ist. Gute Kommentare vermitteln Kontext oder Zweck. Wiederhole nicht einfach den Komponenten- oder Klassennamen.</p>
    <p>Stelle sicher, dass in längeren Kommentaren komplette Sätze geschrieben werden und kurze Sätze in generellen Anmerkungen.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div> -->

<div class="section" id="css-classes">
  <div class="col">
    <h3>Klassennamen (neu mit BEM)</h3>
    <ul>
      <li>Schreibe Klassennamen in Kleinbuchstaben und benutze Bindestriche (keine Unterstriche oder camelCase). Bindestriche dienen als natürliche Unterbrechungen in verbundenen Klassen (z.B. <code>.btn</code> und <code>.btn-danger</code>).</li>
      <li>Vermeide ausschweifende und beliebige Kurznotationen. <code>.btn</code> ist eine nützliche Abkürzung für <em>button</em>, aber <code>.s</code> ist bedeutungslos.</li>
      <li>Benenne Klassen so kurz und bündig wie möglich.</li>
      <li>Benutze aussagekräftige Namen; benutze zweck- oder strukturgebundene Namen, anstatt toll klingende.</li>
      <li>Wähle ein Klassenpräfix, das auf die nächsten Eltern oder Basisklasse verweist.</li>
      <li>Benutze <code>.js-*</code> Klassen, um Verhalten anzudeuten (im Gegensatz zu einem Style), aber halte diese Klassen aus dem CSS heraus.</li>
    </ul>
    <p>Außerdem ist es hilfreich, viele dieser Regeln beizubehalten, wenn Sass und Less Variablennamen erstellt werden.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selektoren</h3>
    <ul>
      <li>Versuche Klassen statt generische Element-Tags zu nutzen, um eine optimale Renderingperformance zu erreichen.</li>
      <li>Vermeide mehrere Attributselektoren (z.B. <code>[class^="..."]</code>) bei  gewöhnlich verwendeten Komponenten. Es ist bekannt, dass die Browserperformance dadurch beeinträchtigt wird.</li>
      <li>Halte Selektoren kurz und versuche die Anzahl der Elemente in jedem Selektor auf drei zu begrenzen.</li>
      <li>Setze den Geltungsrahmen zum nächsten Elterntag <strong>nur</strong> wenn nötig (z.B. wenn keine Präfixklassen verwendet werden).</li>
    </ul>
    <p>Weitere informationen:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Geltungsrahmen von CSS Präfixklassen</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stopp das Verschachteln</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Aufbau</h3>
    <ul>
      <li>Ordne Codesektionen nach Komponenten an.</li>
      <li>Entwickle eine konsistente Kommentierungshierarchie.</li>
      <li>Benutze konsistente Leerzeichen zu deinem Vorteil, wenn einzelne Sektionen in einem größeren Dokument voneinander getrennt werden.</li>
      <li>Wenn mehrere CSS Dateien verwendet werden, teile sie nach Komponenten, anstatt Seiten auf. Seiten können neu angeordnet und Komponenten verschoben werden.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Editor Einstellungen</h3>
    <p>Stelle deinen Editor folgendermaßen ein, um verbreitete Inkonsistenzen und dirty diffs zu vermeiden:</p>
    <ul>
      <li>Benutze Soft-Tabs mit zwei Leerzeichen</li>
      <li>Schneide nachlaufende Leerzeichen beim Speichern ab.</li>
      <li>Aktiviere UTF-8 codierung.</li>
      <li>Füge am Ende der Datei eine Leerzeile hinzu.</li>
    </ul>
    <p>Ziehe in Erwägung, diese Einstellungen in die <code>.editorconfig</code>-Datei deines Projektes zu schreiben. Für ein Beispiel, <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">schaue dir diese Datei in Bootstrap an</a>. Mehr <a href="http://editorconfig.org">über EditorConfig erfahren</a>.</p>
  </div>
</div>
