---
layout: default
---

{% comment %} HTML Code Guide Text & Code Snippets {% endcomment %}
{% include html/headline.html %}
{% include html/golden-rule.html %}
{% include html/syntax.html %}
{% include html/doctype.html %}
{% include html/encoding.html %}
{% include html/style-script.html %}
{% include html/attribute-order.html %}
{% include html/boolean-attributes.html %}
{% include html/reducing-markup.html %}
{% include html/javascript.html %}
{% comment %}
  Not used right now
  {% include html_javascript.html %}
{% endcomment %}


{% comment %} CSS Code Guide Text & Code Snippets {% endcomment %}
{% include css/headline.html %}
{% include css/syntax.html %}
{% include css/declaration-order.html %}
{% include css/media-queries.html %}
{% include css/shorthand.html %}
{% comment %}
  Not used right now
  {% include css/nesting.html %}
{% endcomment %}
{% comment %}
  Not used right now
  {% include css/comments.html %}
{% endcomment %}
{% include css/classnames.html %}
{% include css/bem.html %}
{% include css/js-hooks.html %}
{% include css/selectors.html %}
{% include css/file-structure.html %}
{% include css/editor-prefs.html %}
