<sidebar class="stcg__sidebar">
  <div class="stcg__sidebar__logo">
    <a data-scroll href="#top"><img src="/assets/images/logo-st-tech.svg" alt=""></a>
  </div>
  <div class="stcg__sidebar__nav">
    <h5>HTML</h4>
    <nav>
      <ul>
        <li><a data-scroll href="#html-syntax">Syntax</a></li>
        <li><a data-scroll href="#html-doctype">HTML5 doctype</a></li>
        <li><a data-scroll href="#html-encoding">Zeichenkodierung</a></li>
        <li><a data-scroll href="#html-style-script">CSS und JavaScript includes</a></li>
        <li><a data-scroll href="#html-attribute-order">Attributreihenfolge</a></li>
        <li><a data-scroll href="#html-boolean-attributes">Boolesche Attribute</a></li>
        <li><a data-scroll href="#html-reducing-markup">Reduzierung des Markup</a></li>
      </ul>
    </nav>
  </div>
  <div class="stcg__sidebar__nav">
    <h5>CSS</h4>
    <nav>
      <ul>
        <li><a data-scroll href="#css-syntax">CSS syntax</a></li>
        <li><a data-scroll href="#css-declaration-order">Reihenfolge der Deklarationen</a></li>
        <li><a data-scroll href="#css-media-queries">Platzierung von Mediaqueries</a></li>
        <li><a data-scroll href="#css-shorthand">Shorthand Deklarationen</a></li>
        <li><a data-scroll href="#css-classnames">Klassennamen</a></li>
        <li><a data-scroll href="#css-bem">BEM Methodik</a></li>
        <li><a data-scroll href="#css-js-hooks">Javascript Hooks</a></li>
        <li><a data-scroll href="#css-selectors">Selektoren</a></li>
        <li><a data-scroll href="#css-file-structure">Struktur</a></li>
        <li><a data-scroll href="#css-editor-prefs">Editor Konfiguration</a></li>
      </ul>
    </nav>
  </div>
</sidebar>
