<aside class="stcg__sidebar">
  <div class="stcg__sidebar__logo">
    <a data-scroll href="#top"><img src="{{ site.baseurl }}/assets/images/logo-st-tech.svg" alt=""></a>
  </div>
  <div class="stcg__sidebar__nav">
    <h5>HTML</h4>
    <nav>
      <ul>
        <li><a data-scroll href="#html-syntax">HTML Syntax</a></li>
        <li><a data-scroll href="#html-doctype">HTML5 Doctype</a></li>
        <li><a data-scroll href="#html-encoding">Zeichenkodierung</a></li>
        <li><a data-scroll href="#html-style-script">CSS & JavaScript Includes</a></li>
        <li><a data-scroll href="#html-attribute-order">Attributreihenfolge</a></li>
        <li><a data-scroll href="#html-boolean-attributes">Boolesche Attribute</a></li>
        <li><a data-scroll href="#html-reducing-markup">Reduzierung des Markup</a></li>
        <li><a data-scroll href="#html-javascript">JavaScript generiertes Markup</a></li>
      </ul>
    </nav>
  </div>
  <div class="stcg__sidebar__nav">
    <h5>CSS</h4>
    <nav>
      <ul>
        <li><a data-scroll href="#css-syntax">CSS Syntax</a></li>
        <li><a data-scroll href="#css-declaration-order">Reihenfolge der Deklarationen</a></li>
        <li><a data-scroll href="#css-media-queries">Platzierung von Mediaqueries</a></li>
        <li><a data-scroll href="#css-shorthand">Kurznotation</a></li>
        <li><a data-scroll href="#css-classnames">Klassennamen</a></li>
        <li><a data-scroll href="#css-bem">Benamung nach BEM</a></li>
        <li><a data-scroll href="#css-js-hooks">JavaScript Hooks</a></li>
        <li><a data-scroll href="#css-selectors">Selektoren</a></li>
        <li><a data-scroll href="#css-file-structure">Dateistruktur</a></li>
        <li><a data-scroll href="#css-editor-prefs">Editor Konfiguration</a></li>
      </ul>
    </nav>
  </div>
</aside>
