.stcg-header {
  padding: 1.5rem 3rem;
  background-color: $st-blue-light;

  h1 {
    margin-bottom: .25rem;
    color: $gray-light;
  }

}

@media (min-width: 80em) {

  .stcg-header {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }

}

@media (min-width: 100em) {

  .stcg-header {
    padding-right: 6rem;
    padding-left: 6rem;
  }

}

@media (min-width: 125em) {

  .stcg-header {
    padding-right: 8rem;
    padding-left: 8rem;
  }

}
