.stcg__tabs { width: 100%; }

.stcg__tabs__input {
  position: absolute;
  left: -10000px;
}

.stcg__tabs__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stcg__tabs__label {
  flex-grow: 1;
  display: block;
  padding: .25rem 0;
  font-size: .875rem;
  font-weight: 600;
  line-height: 2;
  color: $gray-dark;
  text-align: center;
  border-bottom: 1px solid $gray;
  transition: all .15s ease-in;

  &:hover {
    cursor: pointer;
    color: $st-gray;
  }
}

.stcg__tabs__panel {
  flex-basis: auto;
  display: none;
  width: 100%;
  padding: .75rem .5rem 0;
}

#tab-html-1:checked ~ .stcg__tabs__content #tab-html-1-l,
#tab-html-2:checked ~ .stcg__tabs__content #tab-html-2-l,
#tab-html-3:checked ~ .stcg__tabs__content #tab-html-3-l,
#tab-html-4:checked ~ .stcg__tabs__content #tab-html-4-l,
#tab-html-5:checked ~ .stcg__tabs__content #tab-html-5-l,
#tab-html-6:checked ~ .stcg__tabs__content #tab-html-6-l,
#tab-html-7:checked ~ .stcg__tabs__content #tab-html-7-l,
#tab-html-8:checked ~ .stcg__tabs__content #tab-html-8-l,
#tab-html-9:checked ~ .stcg__tabs__content #tab-html-9-l,
#tab-html-10:checked ~ .stcg__tabs__content #tab-html-10-l,
#tab-html-11:checked ~ .stcg__tabs__content #tab-html-11-l,
#tab-html-12:checked ~ .stcg__tabs__content #tab-html-12-l,
#tab-html-13:checked ~ .stcg__tabs__content #tab-html-13-l,
#tab-html-14:checked ~ .stcg__tabs__content #tab-html-14-l,
#tab-html-15:checked ~ .stcg__tabs__content #tab-html-15-l,
#tab-html-16:checked ~ .stcg__tabs__content #tab-html-16-l,
#tab-html-17:checked ~ .stcg__tabs__content #tab-html-17-l,
#tab-html-18:checked ~ .stcg__tabs__content #tab-html-18-l,
#tab-html-19:checked ~ .stcg__tabs__content #tab-html-19-l,
#tab-html-20:checked ~ .stcg__tabs__content #tab-html-20-l,
#tab-css-1:checked ~ .stcg__tabs__content #tab-css-1-l,
#tab-css-2:checked ~ .stcg__tabs__content #tab-css-2-l {
    color: $st-gray;
    cursor: default;
}

#tab-html-1:checked ~ .stcg__tabs__content #tab-html-1-p,
#tab-html-2:checked ~ .stcg__tabs__content #tab-html-2-p,
#tab-html-3:checked ~ .stcg__tabs__content #tab-html-3-p,
#tab-html-4:checked ~ .stcg__tabs__content #tab-html-4-p,
#tab-html-5:checked ~ .stcg__tabs__content #tab-html-5-p,
#tab-html-6:checked ~ .stcg__tabs__content #tab-html-6-p,
#tab-html-7:checked ~ .stcg__tabs__content #tab-html-7-p,
#tab-html-8:checked ~ .stcg__tabs__content #tab-html-8-p,
#tab-html-9:checked ~ .stcg__tabs__content #tab-html-9-p,
#tab-html-10:checked ~ .stcg__tabs__content #tab-html-10-p,
#tab-html-11:checked ~ .stcg__tabs__content #tab-html-11-p,
#tab-html-12:checked ~ .stcg__tabs__content #tab-html-12-p,
#tab-html-13:checked ~ .stcg__tabs__content #tab-html-13-p,
#tab-html-14:checked ~ .stcg__tabs__content #tab-html-14-p,
#tab-html-15:checked ~ .stcg__tabs__content #tab-html-15-p,
#tab-html-16:checked ~ .stcg__tabs__content #tab-html-16-p,
#tab-html-17:checked ~ .stcg__tabs__content #tab-html-17-p,
#tab-html-18:checked ~ .stcg__tabs__content #tab-html-18-p,
#tab-html-19:checked ~ .stcg__tabs__content #tab-html-19-p,
#tab-html-20:checked ~ .stcg__tabs__content #tab-html-20-p,
#tab-css-1:checked ~ .stcg__tabs__content #tab-css-1-p,
#tab-css-2:checked ~ .stcg__tabs__content #tab-css-2-p {
    display: block;
}
