<section class="stcg__content" id="css-bem">
  <div class="stcg__content--text">
    <h3>Benamung nach BEM</h3>
    <p>Nutze für eine klare Benennung von Objekten die Benamung nach <a href='http://getbem.com/introduction/'>BEM</a> (<em>Block, Element, Modifier</em>). Versuche aber zu tiefe Verschachtelungen (<code>.block__element__element</code>) zu vermeiden.</p>
  </div>
  <div class="stcg__content--code">
{% highlight css %}
.block {  }

.block__element {  }

.block--modifier {  }
{% endhighlight %}
  </div>
</section>
