<section class="stcg__content" id="css-classnames">
  <div class="stcg__content--text">
    <h3>Klassennamen</h3>
    <ul>
      <li>Schreibe Klassennamen in Kleinbuchstaben und benutze die Trennung nach <a data-scroll href="#css-bem">BEM</a>. Verwende kein camelCase.</li>
      <li>Vermeide ausschweifende und beliebige Kurznotationen. <code>.btn</code> ist eine nützliche Abkürzung für <em>button</em>, aber <code>.t</code> ist bedeutungslos.</li>
      <li>Benenne Klassen so kurz und bündig wie möglich.</li>
      <li>Benutze aussagekräftige, zweck- oder strukturgebundene Namen statt toll klingende Namen.</li>
      <li>Schreibe selbstsprechende Klassen mit dem Präfix <code>.is-</code>.</li>
    </ul>
  </div>
  <div class="stcg__content--code">
{% highlight css %}
/* Schlechtes Beispiel */
.t {  }
.red {  }
.header {  }
.btnGroup {  }
.hidden {  }

/* Gutes Beispiel */
.tweet {  }
.important {  }
.tweet-header {  }
.btn-group {  }
.is-hidden {  }
{% endhighlight %}
  </div>
</section>
