<section class="stcg__content" id="css-comments">
  <div class="stcg__content--text">
    <h3>Kommentare</h3>
    <p>Der Code wird von Menschen geschrieben und gepflegt. Stelle sicher, dass dein Code anschaulich, gut kommentiert und für andere zugänglich ist. Gute Kommentare vermitteln Kontext oder Zweck. Wiederhole nicht einfach den Komponenten- oder Klassennamen.</p>
    <p>Stelle sicher, dass in längeren Kommentaren komplette Sätze geschrieben werden und kurze Sätze in generellen Anmerkungen.</p>
  </div>
  <div class="stcg__content--code">
    {% highlight css %}{% include css/code/comments.css %}{% endhighlight %}
  </div>
</section>
