<section class="stcg__content" id="css-editor-prefs">
  <div class="stcg__content--text">
    <h3>Editor Einstellungen</h3>
    <p>Stelle deinen Editor folgendermaßen ein, um verbreitete Inkonsistenzen und dirty diffs zu vermeiden:</p>
    <ul>
      <li>Benutze Soft-Tabs mit zwei Leerzeichen</li>
      <li>Schneide nachlaufende Leerzeichen beim Speichern ab.</li>
      <li>Aktiviere UTF-8 codierung.</li>
      <li>Füge am Ende der Datei eine Leerzeile hinzu.</li>
    </ul>
    <p>Ziehe in Erwägung, diese Einstellungen in die <code>.editorconfig</code>-Datei deines Projektes zu schreiben.</p>
  </div>
</section>
