<section class="stcg__content" id="css-file-structure">
  <div class="stcg__content--text">
    <h3>Dateistruktur</h3>
    <p>Nutze das <a href='http://patternlab.io/about.html'>Atomic Design Pattern</a>, um deine CSS-Dateien zu strukturieren. Unsere Interpretation lautet wie folgt:</p>
    <ol>
      <li><strong>Settings:</strong> Definition von Farben, Größen usw.</li>
      <li><strong>Mixins:</strong> Eigene SCSS-Mixins</li>
      <li><strong>Utilities:</strong> Klassen für schnelles layouten</li>
      <li><strong>Atoms:</strong> HTML-Elemente wie bspw. Buttons und Links</li>
      <li><strong>Molecules:</strong> UI-Elemente, welche aus Atoms bestehen</li>
      <li><strong>Modules:</strong> UI-Elemente, welche aus Molecules bestehen</li>
      <li><strong>Templates:</strong> Wiederverwendbare Layouts</li>
      <li><strong>Pages:</strong> Seitenspezifische Layouts</li>
    </ol>
    <p>Wenn externe CSS-Ressourcen wie bspw. die <code>normalize.css</code> eingesetzt werden, dann werden diese im Ordner <code>0-vendor</code> gespeichert.</p>
    <p>Innerhalb jedes Ordners werden die einzelnen SCSS-Dateien mittels einer eigenen <code>_-section-index.scss</code> importiert. Im Hauptverzeichnis importiert die <code>main.scss</code> alle einzelnen Index-Dateien.</p>
  </div>
  <div class="stcg__content--code">
{% highlight text %}
scss/
├── 0-vendor
|   ├── _-vendor-index.scss
|   └── _normalize.css
├── 1-settings
|   ├── _-setrings-index.scss
|   ├── _colors.scss
|   └── _fonts.scss
├── 2-mixins
├── 3-utilities
├── 4-atoms
├── 5-molecules
├── 6-modules
├── 7-templates
├── 8-pages
└── main.scss
{% endhighlight %}
  </div>
</section>
