<section class="stcg__content" id="css-js-hooks">
  <div class="stcg__content--text">
    <h3>Javascript Hooks</h3>
    <p>Nutze zur Selektierung von Elementen den Präfix <code>.js-</code> um Funktion und Styling zu trennen. Achte darauf, Klassen mit dem Präfix <code>.js-</code> nicht zu stylen.</p>
  </div>
  <div class="stcg__content--code">
{% highlight html %}
<div class='joblist js-joblist'>

</div>

<script>
  $(function() {
    $('.js-joblist').foo()
  })
</script>
{% endhighlight %}
  </div>
</section>
