<section class="stcg__content" id="css-nesting">
  <div class="stcg__content--text">
    <h3>Verschachtelung in Less und Sass</h3>
    <p>Vermeide unnötige Verschachtelungen. Nur weil verschachtelt werden kann, heißt das nicht, dass man es immer sollte. Berücksichtige Verschachtelung nur, wenn Styles im Elternelement gültig sein müssen und wenn mehrere Elemente zu verschachteln sind.</p>
  </div>
  <div class="stcg__content--code">
    {% highlight scss %}{% include css/code/nesting.scss %}{% endhighlight %}
  </div>
</section>
