<section class="stcg__content" id="css-selectors">
  <div class="stcg__content--text">
    <h3>Selektoren</h3>
    <ul>
      <li>Versuche Klassen statt generische Element-Tags zu nutzen um eine optimale Renderingperformance zu erreichen und um das Styling vom Markup zu trennen.</li>
      <li>Halte Selektoren kurz und versuche die Anzahl der Elemente in jedem Selektor auf <strong>drei</strong> zu begrenzen.</li>
    </ul>
  </div>
  <div class="stcg__content--code">
{% highlight css %}
/* Schlechtes Beispiel */
.foo span {  }
#stream .stream-item .tweet,
#stream .stream-item .tweet-stream,
#stream .stream-item .tweet .username {  }
.tweet .avatar {  }

/* Gutes Beispiel */
.foo .icon {  }
.tweet {  }
.tweet--stream {  }
.tweet__username {  }
.tweet__avatar {  }
{% endhighlight %}
  </div>
</section>
