<section class="stcg__content" id="css-selectors">
  <div class="stcg__content--text">
    <h3>Selektoren</h3>
    <ul>
      <li>Versuche Klassen statt generische Element-Tags zu nutzen, um eine optimale Renderingperformance zu erreichen und Styling von Markup zu trennen.</li>
      <li>Halte Selektoren kurz und versuche die Anzahl der Elemente in jedem Selektor auf <strong>drei</strong> zu begrenzen.</li>
    </ul>
  </div>
  <div class="stcg__content--code">
    {% highlight css %}{% include css/code/selectors.css %}{% endhighlight %}
  </div>
</section>
