<section class="stcg__content" id="css-shorthand">
  <div class="stcg__content--text">
    <h3>Kurznotation</h3>
    <p>Bemühe dich Kurznotationen zu benutzen wenn immer dadurch der zu schreibende CSS-Code reduziert werden kann.</p>
  </div>
  <div class="stcg__content--code">
{% highlight css %}
/* Schlechets Beispiel */
.element {
  background-color: red;
  background-image: url('image.jpg');
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* Gutes Beispiel */
.element {
  background: red url('image.jpg');
  border-radius: 3px 3px 0 0;
}
{% endhighlight %}
  </div>
</section>
