<section class="stcg__content" id="html-doctype">
  <div class="stcg__content--text">
    <h3>HTML5 Doctype</h3>
    <p>Setze für ein konsistentes Rendering in allen Browsern auf jeder HTML-Seite den HTML5 Doctype.</p>
    <p><span class="stcg-todo">Rework Text</span>Bemühe dich, die HTML Standards und Semantik beizubehalten, aber nicht zum Preis von Praktikabilität. Benutze so wenig Markup mit den wenigsten Komplexitäten, wie möglich.</p>
  </div>
  <div class="stcg__content--code">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
  </head>
</html>
{% endhighlight %}
  </div>
</section>
