<section class="stcg__content" id="html-doctype">
  <div class="stcg__content--text">
    <h3>HTML5 Doctype</h3>
    <p>Setze für ein konsistentes Rendering in allen Browsern auf jeder HTML-Seite den HTML5 Doctype.</p>
    <p>Verwende stets die HTML Standards und einen semantischen Code, jedoch nicht zum Preis von Praktikabilität. Verwended bei deinem Markup die geringst mögliche Komplexitäten.</p>
  </div>
  <div class="stcg__content--code">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
  </head>
</html>
{% endhighlight %}
  </div>
</section>
