<section class="stcg__content" id="html-encoding">
  <div class="stcg__content--text">
    <h3>Zeichenkodierung</h3>
    <p>Das richtige Rendering des Inhalts kann schnell und einfach mit einer expliziten Zeichenkodierung festgelegt werden. Wenn die Zeichenkoderung auf diese Art gesetzt wurde, kann auf die einzelne Deklaration in HTML Elementen verzeichtet werden, sofern sie mit der des Dokumentes übereinstimmen (normalerweise UTF-8).</p>
  </div>
  <div class="stcg__content--code">
    {% highlight html %}{% include html/code/encoding.html %}{% endhighlight %}
  </div>
</section>
