<section class="stcg__content" id="html-encoding">
  <div class="stcg__content--text">
    <h3>Zeichenkodierung</h3>
    <p>Das richtige Rendering des Inhalts kann schnell und einfach mit einer expliziten Zeichenkodierung festgelegt werden. Wenn die Zeichenkodierung als Meta-Tag gesetzt wird, dann kann auf einzelne Deklaration in HTML-Elementen verzeichtet werden, wenn sie mit der Deklaration des Dokumentes übereinstimmen.</p>
  </div>
  <div class="stcg__content--code">
{% highlight html %}
<head>
  <meta charset='UTF-8'>
</head>
{% endhighlight %}
  </div>
</section>
