<section class="stcg__content" id="golden-rule">
  <div class="stcg__content--text">
    <h2>Goldene Regel</h2>
    <p>Halte dich immer an diese definierten Regeln. Erstelle für etwaige Ergänzungen ein Issue im <a href="https://github.com/STUDITEMPS/code-guide" title="STUDITEMPS Code Guide Repository">Github Repository</a>. Erstellte Issues werden im nächsten Fach-Chapter besprochen.</p>
  </div>
  <div class="stcg__content--code">
    <blockquote>
      <p>Jede Zeile Code sollte so aussehen, als wenn sie von einer Person geschrieben wurde, egal, wieviele wirklich daran gearbeitet haben.</p>
    </blockquote>
  </div>
</section>
