<section class="stcg__content" id="golden-rule">
  <div class="stcg__content--text">
    <h2>Goldene Regel</h2>
    <p>Halte dich bestmöglichst an die folgeden definierten Regeln. Erstelle für etwaige Änderungen und / oder Ergänzungen ein Issue im <a href="https://github.com/STUDITEMPS/code-guide/issues" title="STUDITEMPS Code Guide Issues">Github Repository</a>. Erstellte Issues werden im nächsten Frontend-Chapter besprochen.</p>
  </div>
  <div class="stcg__content--code">
    <blockquote>
      <p>Jede Zeile Code sollte so aussehen, als wäre sie von Menschen geschrieben. Gleich, wie viele Peresonen wirklich daran gearbeitet haben.</p>
    </blockquote>
  </div>
</section>
