<section class="stcg__content" id="html-reducing-markup">
  <div class="stcg__content--text">
    <h3>Reduzierung des Markups</h3>
    <p>Vermeide überflüssige Elemente beim Schreiben von HTML.</p>
  </div>
  <div class="stcg__content--code">
{% highlight html %}
<!-- Nicht so gut -->
<span class='avatar'>
  <img src='...'>
</span>

<span class='day'>
  <strong>Heute ist Mittwoch.</strong>
</span>

<!-- Besser -->
<img class='avatar' src='...'>

<strong class='day'>Heute ist Mittwoch.</strong>
{% endhighlight %}
  </div>
</section>
