<section class="stcg__content" id="html-style-script">
  <div class="stcg__content--text">
    <h3>CSS und JavaScript includes</h3>
    <p>Nach den HTML5 Spezifikationen ist es nicht notwendig, einen <code>type</code> anzugeben, da CSS und JavaScript Dateien per Voreinstellung als <code>text/css</code> und <code>text/javascript</code> erwartet werden.</p>
    <h4>HTML5 Spezifikation links</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Benutzung von link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Benutzung von style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Benutzung von script</a></li>
    </ul>
  </div>
  <div class="stcg__content--code">
    {% highlight html %}{% include html/code/style-script.html %}{% endhighlight %}
  </div>
</section>
