<section class="stcg__content" id="html-style-script">
  <div class="stcg__content--text">
    <h3>CSS und JavaScript Includes</h3>
    <p>Nach den HTML5-Spezifikationen ist es nicht notwendig, einen <code>type</code> anzugeben, da CSS und JavaScript per Definition als <code>text/css</code> und <code>text/javascript</code> gelesen werden.</p>
    <h4>Links zu den HTML5-Spezifikationen:</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Benutzung von <code>link</code></a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Benutzung von <code>style</code></a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Benutzung von <code>script</code></a></li>
    </ul>
  </div>
  <div class="stcg__content--code">
    <div class="stcg__tabs">
      <input class="stcg__tabs__input" type="radio" name="html-style-script" id="tab-html-7" checked />
      <input class="stcg__tabs__input" type="radio" name="html-style-script" id="tab-html-8" />
      <div class="stcg__tabs__content">
        <label for="tab-html-7" id="tab-html-7-l" class="stcg__tabs__label">HTML</label>
        <label for="tab-html-8" id="tab-html-8-l" class="stcg__tabs__label">Haml</label>
        <div id="tab-html-7-p" class="stcg__tabs__panel">

{% highlight html %}
<!-- Externes CSS -->
<link rel='stylesheet' href='style.css'>

<!-- Inline CSS -->
<style>
  /* ... */
</style>

<!-- JavaScript -->
<script src='script.js'></script>
{% endhighlight %}

        </div>
        <div id="tab-html-8-p" class="stcg__tabs__panel">

{% highlight haml %}
/ Externes CSS
%link{:href => "style.css", :rel => "stylesheet"}/

/ Inline CSS
:css
  /* ... */

/ JavaScript
%script{:src => "script.js"}
{% endhighlight %}

        </div>
      </div>
    </div>
  </div>
</section>
