<section class="stcg__content" id="html-syntax">
  <div class="stcg__content--text">
    <h3>HMTL Syntax</h3>
    <ul>
      <li>Benutze „Soft-Tabs” mit 2 Leerzeichen um zu garantieren, dass der Code in allen Umgebungen gleich gerendert wird.</li>
      <li>Verschachtelte Elemente werden einfach (2 Leerzeichen) eingerückt werden.</li>
      <li>Verwende einfache Anführungszeichen für Attribute, keine Apostrophe.</li>
      <li>Benutze keine abschließenden Schrägstriche in selbstschließenden Elementen. Diese sind laut <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">HTML5 Spezifikationen</a> optional.</li>
      <li>Vergesse nicht die schließenden Tags (z.B. <code>&lt;/li&gt;</code> oder <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="stcg__content--code">
{% highlight html %}
<!DOCTYPE html>
<html>
  <head>
    <title>Seitentitel</title>
  </head>
  <body>
    <img src='images/company-logo.png' alt='Company'>
    <h1 class='page__title'>Hello, world!</h1>
  </body>
</html>
{% endhighlight %}
  </div>
</section>
