<!DOCTYPE html>
<html lang="de-de">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <main id="top" class="stcg-main">

      {% include header.html %}

      {% comment %} HTML Code Guide Snippets {% endcomment %}
      {% include html/headline.html %}
      {% include html/golden-rule.html %}
      {% include html/syntax.html %}
      {% include html/doctype.html %}
      {% include html/encoding.html %}
      {% include html/style-script.html %}
      {% include html/attribute-order.html %}
      {% include html/boolean-attributes.html %}
      {% include html/reducing-markup.html %}
      {% comment %}
        Not used right now
        {% include html_javascript.html %}
      {% endcomment %}



      {{ content }}

      {% include footer.html %}

    </main>

  </body>

  {% include javascript.html %}

</html>
